.links{
    margin: 30px 0;
}

.system{
    line-height: 30px;
    font-size: 14px;
}


.panel{
    margin-top: 100px;
    position: relative;
    z-index: 1;
    display: flex;
}

.panel li{
    width: 33.333%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.panel_item{
    position: relative;
    display: inline-block;
    font-weight: 600;
    font-size: 14px;
    width: 100%;
    height: 20px;
    overflow: hidden;
}

.panel_item::before,
.panel_item::after{
    content: attr(data-name);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}


.panel_item::after{
    transform: translateY(100%);
}

.panel_item:hover::after{
    transform: translateY(0%);
    transition: 0.3s;
}
.panel_item:hover::before{
    transform: translateY(-100%);
    transition: 0.3s;
}

.body_w .panel_item{
    font-size: 12px;
}

.link[data-name="start play"]{
    font-size: 18.2vh;
    height: 24vh;
    width: 99.9vh;
}

.link[data-name="start play"]:hover::after,
.link[data-name="start play"]:hover::before{
    transition: 0.6s;
}

.body_w .link[data-name="start play"]{
    font-size: 17.2vw;
    height: 25vw;
    width: 100%;
}